@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

button {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.153) !important;
}

.ant-table {
	box-shadow: 4px 2px 6px 1px rgb(224, 224, 224);
	border-radius: 24px !important;
}

.ant-menu > li:hover {
	color: #4798d4 !important;
	background-color: white !important;
}
