@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
	color: #333333;
}

* {
	font-family: 'Open Sans', sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: 'white';
}

.login {
	box-shadow: 4px 4px 8px rgb(180, 180, 180) !important;
	width: fit-content;
	overflow: hidden;
}

#login {
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.login-form {
	margin: 30px 20px 0px 0px;
	padding: 8px;
}

.form > div {
	background-color: rgb(255, 255, 255) !important;
	box-shadow: 6px 6px 10px rgba(180, 180, 180, 0.479) !important;
	margin-bottom: 1rem !important;
	border-radius: 15px;
}

.ant-table {
	box-shadow: 6px 6px 10px rgba(180, 180, 180, 0.479) !important;
	overflow: visible;
}

.ant-table-thead tr{
	background-color: rgb(0, 0, 0);
	font-size: 16px;
}

th {
	background-color: #2e2e2e85 !important;
	color: white !important;
	font-weight: bolder !important;
}

td {
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.ant-space {
	align-self: center !important;
}

.ant-table-footer {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.ant-table-tbody > :nth-child(2n + 1) {
	background-color: #ffffff15 !important;
}
.ant-table-tbody > :nth-child(2n + 2) {
	background-color: #dbdbdb6b !important;
}

.ant-table-tbody :nth-child(2n + 1) .ant-table-cell-row-hover {
	background-color: #fafafa !important;
}

.ant-table-tbody :nth-child(2n + 2) .ant-table-cell-row-hover {
	background-color: #fafafa !important;
}

.ant-table-column-sort {
	background-color: rgba(0, 0, 0, 0) !important;
}

.ant-table-tbody > :nth-child(2n + 1) .ant-table-column-sort:hover {
	background-color: #fafafa !important;
}

.ant-table-tbody > :nth-child(2n + 2) .ant-table-column-sort:hover {
	background-color: #fafafa !important;
}

.ordens thead > :first-child th::before {
	content: "";
	margin-left: -77px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.788);
	position: absolute;
	bottom: 0;
	width: 30rem;
}

.ordens thead > :first-child .ant-table-cell {
	font-size: 35px;
}

.ant-table-column-sorter svg {
	color: white;
}

.version {
	position: sticky !important;
	bottom: 0;
}


@media (max-width: 992px) {
	.version {
		display: none !important;
	}

}

.header {
	box-shadow: -4px 4px 8px rgb(180, 180, 180) ;
	height: 60px;
	background: rgb(150,188,255);
	background: linear-gradient(300deg, rgb(54, 158, 255) 0%, rgba(9,132,227,1) 100%);
}

.menu {
	box-shadow: 4px 3px 8px 2px #c2c2c280  !important;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 5px !important;
}

.menu li:hover {
	background-color: rgb(241, 241, 241) !important;
	color: rgb(0, 0, 0) !important;
	box-shadow: 2px 3px 10px 2px #9c9c9c63  !important;
}

.ant-menu-item {
	transition: all 1s ease;
}
.ant-menu-item:hover {
	background-color: #b1b5bd !important;
	transform: scale(1.03);
	color: white !important;
	transition: all 1s ease;
}

.ant-btn {
	box-shadow: 4px 3px 8px 2px #9c9c9c5d;
}

button:hover {
	transform: scale(1.02);
}

.ant-collpse-header {
	background-color: white !important;
}

.ant-collapse-item {
	box-shadow: 4px 4px 8px rgba(207, 207, 207, 0.479);
	border-radius: 15px !important;
	overflow: hidden !important;
	background-color: white !important;
}

.ant-collapse-content-box {
	background-color: #f0f0f04f !important;
}

.imagen {
	 background-image: url(../public/Images/Fondo.jpg);
	 background-size: 550px;
	 background-repeat: no-repeat;
	 background-position: center center;
	 width: 500px;

}

.imagen h1 {
	color: white !important;
	margin: 25px;
	margin-bottom: 25px !important;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-product {
	box-shadow: 4px 4px 8px rgba(180, 180, 180, 0.479) !important;
}

.send .ant-modal-header {
	background-color: black !important;
	height: 70px;
	width: 100%;
	margin-left: -24px;
	position: absolute;
	margin-top: -20px;
}

.send .ant-modal-header::before {
	position: relative;
	content: '';
	width: 100px;
}

.send .ant-modal-title {
	margin: 25px !important;
	color: white !important;
}

.send .ant-modal-body {
	margin-top: 50px;
}